body {
    background-color: antiquewhite;
}

h1 {
    background-color: azure;
}

h2 {
    background-color: cornflowerblue;
}

.klasa1 {
    background-color: coral;
}

.klasa2 {
    background-color: chocolate;
}

.klasa3 {
    background-color: chartreuse;
}
